# App Version
<INT>VIS                        = 20240820214600

# Settings
<BOOL>SRVC_CLT_PROMPT_IP        = 0
<INT>SRVC_TCP_DEFAULT_RCV_LEN   = 212
<INT>SRVC_TCP_MAX_CONCUR_CONN   = 10
<INT>SRVC_TCP_SELECT_TIMEOUT    = 1

# POL.COST_TIMER
<FLOAT>COST_TIMER               = 5

# Logging

# Logging Interval
<INT>LG_INTERVAL                = 8

# Toggle Logging Levels
<BOOL>LG_LOG_ERROR              = 1
<BOOL>LG_LOG_WARN               = 1
<BOOL>LG_LOG_INFO               = 1
<BOOL>LG_LOG_DEBUG              = 1

# Loops
<FLOAT>LOOP_MAX_TIME_MIN        = 1.0
<INT>LOOP_MAX_ITER              = 999999
